html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #1c4b4d;
  width: 100%;
  height: 100%;
  font-family: 'Karla', Arial, sans-serif;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

a {
  text-decoration: none !important;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #55FFFF;
}

::-webkit-scrollbar-track {
    background: #00AAAA;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.important {
  color: #55FFFF;
  text-transform: uppercase;
  font-weight: 700;
}

.important-header {
  color: #00AAAA;
  text-transform: uppercase;
  font-weight: 700;
}

.box {
  border-radius: 2px;
  background: #4c234b;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  color: #ddd;
}

.error-container {
  padding: 25px;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
  border-radius: 2px;
  background: #4c234b;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  color: #ddd;
}

.badge {
  padding: .45rem .475rem;
}

.badge-success {
  color: #fff;
  background-color: #2dce89;
}

.btn-success {
  color: #fff;
  background-color: #2dce89;
}

.btn-success:hover {
  color: #fff;
  background-color: #2dce89;
}

.main {
  height: 90%;
  position: relative;
  background: url('/assets/images/header.png') no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(rgba(21, 31, 56, 0), #1c4b4d);
}

.main .inner {
  align-items: center;
  max-width: initial;
  padding: 0;
  background: linear-gradient(to right, rgba(21,31,56,0.23137255), rgba(0,167,207,0.30196078), rgba(239,227,72,0.32156863), rgba(134,26,84,0.29019608), rgba(5,79,125,0.30196078));
  background-size: 600%;
  background-position: 0 0;
  box-shadow: inset 0 0 5em rgba(0,0,0,0.5);
  height: 100%;
  justify-content: center;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
  padding-top: 70px;
}

.content {
  position: relative;
  z-index: 9;
}

.content .social-button {
  position: fixed;
  display: flex;
  align-items: center;
  height: 50px;
  width: 375px;
  left: -315px;
  background-color: #4c234b;
  z-index: 99;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid rgba(255,255,255,0.05);
  cursor: pointer;
  left: -315px;
}

.content .social-button.discord {
  top: 180px;
}

.content .social-button.twitter {
  top: 250px;
}

.content .social-button.teamspeak {
  top: 320px;
}

.content .social-button a {
  display: flex;
  align-items: center;
}

.content .social-button a .info {
  display: inline-block;
  color: #e341eb;
  letter-spacing: 0.5px;
  margin-left: 10px;
  text-transform: uppercase;
  max-width: 302px;
  min-width: 302px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}

.content .social-button a .info h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.content .social-button a .info h4 {
  font-size: 11px;
  font-weight: 700;
  text-align: right;
  margin: 0;
}

.content .social-button .icon {
  display: inline-block;
  font-size: 36px;
  width: 50px;
  margin: auto 16px;
  color: #738adb;
  text-shadow: 0 0 4px #4d1c4a;
  -webkit-transition: .25s all;
  -moz-transition: .25s all;
  transition: .25s all;
  text-align: center;
}

.content .menubar {
  position: relative;
  min-height: 70px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: rgba(0,0,0,0.8);
  border-bottom: 1px solid #55FFFF;
}

.content .menubar.sticky {
  top: 0;
  position: fixed;
  z-index: 9999;
}

.content .menubar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.content .menubar ul.nav-open-btn {
  display: none;
}

.content .menubar ul.nav-open-btn li {
  text-align: left;
}

.content .menubar ul.nav-open-btn li a:hover {
  color: #e341eb;
}

.content .menubar ul:before, .content .menubar ul:after {
  display: inline-block;
  width: 10px;
  content: '';
}

.content .menubar ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
  padding: 0px 20px;
  z-index: 9;
  position: relative;
  -webkit-transition: .25s all;
  -moz-transition: .25s all;
  transition: .25s all;
  vertical-align: bottom;
  font-size: 15px;
}

.content .menubar ul li.items:hover {
  background: rgb(255,255,255,0.1);
}

.content .menubar ul li:before, .content .menubar li:after {
  content: '';
  display: table;
}

.content .menubar ul li:after {
  clear: both;
}

.content .menubar a {
  padding: 0;
  float: none;
  font-family: 'Karla',sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 70px;
  font-size: 16px;
  color: #fdfbfb;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: .25s all;
  -moz-transition: .25s all;
  transition: .25s all;
}

.content .logo {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 60px;
}

.content .logo img {
  max-width: 500px;
  animation: logo 3s infinite;
}

.content .network-status  {
  color: #ddd;
  font-weight: 700;
  text-align: center;
  font-size: 17px;
  text-shadow: 2px 2px 5px black;
  background: rgba(0,0,0,0.3);
  padding: 15px 0px;
  border-bottom: 1px solid #e341eb;
}

.content .page-body {
  padding-top: 70px;
  padding-bottom: 50px;
  position: relative;
}

footer {
  border-top: 1px solid rgb(255,255,255,0.1);
}

.footer-item {
  height: 220px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.footer-item img {
  width: 270px;
  opacity: 0.2;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.footer-item h1 {
  margin: 0;
  color: #e341eb;
  font-size: 25px;
  padding: 5px;
  font-weight: bold;
  background: #4c234b;
  text-align: center;
  text-transform: uppercase;
}

.footer-item .item-inner {
  color: #bdbdbd;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

.footer-item .item-sitemap {
  margin-top: 10px;
  text-align: center;
}

.footer-item .item-sitemap ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.footer-item .item-sitemap li {
  -webkit-transition: .25s all;
  -moz-transition: .25s all;
  transition: .25s all;
}

.footer-item .item-sitemap li a {
  color: #5673bb;
  display: block;
  text-decoration: none;
  font-size: 15px;
  padding: 4px;
  text-transform: uppercase;
}

.footer-item .item-sitemap li a:hover {
  color: #e341eb;
}

.footer-bottom {
  text-transform: uppercase;
  display: flex;
  min-height: 60px;
  padding: 10px;
  border-top: 1px solid rgb(255,255,255,0.1);
  align-items: center;
  font-weight: 700;
}

.footer-bottom .copyright {
  text-shadow: 0px 2px #00AAAA;
  color: #55FFFF;
}

 button.link-twitter { 
  text-shadow: 0px 2px #8a298a;
  background:none;
  border:none; 
  color: #e341eb;
  text-transform: uppercase;
  font-weight: 700;
  margin: -5px;
}

button.link-discord { 
  text-shadow: 0px 2px #8a298a;
  background:none;
  border:none; 
  color: #e341eb;
  text-transform: uppercase;
  font-weight: 700;
  margin: -5px;
}

button.link-solyze { 
  background:none;
  border:none; 
  text-transform: uppercase;
  font-weight: 700;
}

button.link-s0lrike { 
  background:none;
  border:none; 
  text-transform: uppercase;
  font-weight: 700;
}

input.link-login { 
  text-shadow: 0px 2px #8a298a;
  color: #e341eb;
  background:none;
  border:none; 
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
     z-index: 2;
}

input.link-text { 
  background-color: 333333;
  color: #e341eb;
  border: 1px solid black;
  margin-bottom: 3px;
  position: relative;
     z-index: 2;
}

input.link-password { 
  background-color: 333333;
  color: #e341eb;
  border: 1px solid black;
  margin-bottom: 3px;
  position: relative;
     z-index: 2;
}

.top-above {
     position: relative;
     z-index: 2;
}

.pink-important {
  text-shadow: 0px 2px #00AAAA;
  color: #55FFFF;
  text-transform: uppercase;
  font-weight: 700;
}

.rules-header {
  text-shadow: 0px 2px #00AAAA;
  color: #55FFFF;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 50px;
  padding-right: 30px;
}

.rules {
  text-shadow: 0px 2px #7d7d7d;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  margin-left: 50px;
  padding-right: 30px;
}

.dc {
  color: blue;
}

.pink-title {
  text-transform: uppercase;
  font-weight: 1000;
  color: white;
}

.pink {
  text-shadow: 0px 2px #7d7d7d;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.pink-timer {
  text-shadow: 0px 2px #00AAAA;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  #padding: 10px;
  margin: -20px;
  font-size: 40px;
}

.footer-bottom .credits {
  text-shadow: 0px 1px #6e636e;
  font-size: 11px;
  color: #bdbdbd;
  margin-left: auto;
}

.staff-body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.staff-body .card {
  min-width: calc(25% - 10px);
  display: inline-block;
  margin: 0px 5px;
  flex-grow: 1;
  padding: 0.7rem 0;
  border-radius: 2px;
  background: #00AAAA;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.staff-body .card:hover {
  background: rgb(0,0,0,0.3);
}

.staff-body .card img {
  margin-bottom: 5px;
}

.staff-body .card .name {
  font-weight: 700;
  color: #eee;
  text-transform: uppercase;
}

.staff-body .card .rank {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  margin-left: 2px;
}

.staff-sticky-nav {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  background: #4c234b;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.staff-sticky-nav.sticky {
  top: 90px;
  position: sticky;
  z-index: 8888;
}

.staff-sticky-nav .goto-top  {
  text-shadow: 0px 2px #8a298a;
  color: #e341eb;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 6px;
  #padding-bottom: 10px;
  #border-bottom: 1px solid #e341eb;
  text-transform: uppercase;
}

.staff-sticky-nav .goto-button {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 15px;
  background-color: #4c2d49;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  font-weight: 600;
  line-height: 1.5;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.staff-sticky-nav .goto-button:hover {
  background: rgb(0,0,0,0.2);
}

.staff-sticky-nav .goto-button:not(:last-child) {
  margin-bottom: 10px;
}

.player-profile .header {
  padding: 25px;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.player-profile .header img {
  margin-top: -6px;
  margin-right: 20px;
}

.player-profile .playerskin {
  padding: 20px;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px 2px 0px 0px;
}

.player-profile .playerskin .username {
  display: block;
  margin-top: 15px;
}

.player-profile .playerrank {
  text-align: center;
  padding: 4px;
  background: rgb(0,0,0,0.3);
  border-radius: 0px 0px 2px 2px;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.profiles {
  padding: 50px 0px;
}

.profiles .search-icon {
  padding: 12px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: #fff;
  background-color: #2dce89;
}

.profiles h3 {
  color: #ddd;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 15px;
}

.profiles h5 {
  color: #ddd;
  font-weight: 700;
}

.profiles .badge {
  margin-top: 15px;
}

.profiles .input-group {
  margin-top: 30px;
}

.input-group-text {
  border: 0;
  background: #4c234b;
  color: #ddd;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.form-control {
  border: 0;
  background: #4c234b;
  color: #ddd !important;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.form-control:focus {
  background: #4c234b;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.input-group-append .btn-success {
  border: 0 !important;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  padding: 5px 15px;
  border-radius: 0px .25rem .25rem 0px;
  line-height: 1.7;
  cursor: pointer;
}

.litebans-body .punishments-menu {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: #4c234b;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  border-radius: 2px;
}

.litebans-body .punishments-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.litebans-body .punishments-menu ul:before, .punishments-menu ul:after {
  display: inline-block;
  width: 10px;
  content: '';
}

.litebans-body .punishments-menu ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
  padding: 0px 20px;
  z-index: 9;
  position: relative;
  -webkit-transition: .25s all;
  -moz-transition: .25s all;
  transition: .25s all;
  vertical-align: bottom;
  font-size: 15px;
}

.litebans-body .punishments-menu ul li:hover {
  background: rgb(255,255,255,0.1);
}

.litebans-body .punishments-menu ul li:before, .punishments-menu ul li:after {
  content: '';
  display: table;
}

.litebans-body .punishments-menu ul li:after {
  clear: both;
}

.litebans-body .punishments-menu ul li a {
  padding: 0;
  float: none;
  font-family: 'Karla',sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 60px;
  font-size: 16px;
  color: #fdfbfb;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: .25s all;
  -moz-transition: .25s all;
  transition: .25s all;
}

.litebans-body .punishments-menu .badge-secondary {
  color: #fff;
  background: rgb(0,0,0,0.3);
}

.litebans-body .punishments-menu .badge-secondary.badge-pill {
  padding-right: .6em;
  padding-left: .7em;
  border-radius: 10rem;
}

.litebans-body .punishments-body {
  padding: 15px;
  border-radius: 2px;
  background: #4c234b;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  margin-top: 15px;
  color: #ddd;
}

.litebans-body a {
  color: #e341eb;
}

.litebans-body button {
  background: #e341eb;
  color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  border-radius: 2px;
}

.litebans-body button:hover {
  color: #fff;
}

.litebans-body input {
  border-radius: 2px;
}

.litebans-body .litebans-check {
  margin-top: 15px;
}

.litebans-body table {
  background: #4c234b;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  border-radius: 2px;
  border: 0px;
  color: white;
  margin-bottom: 0px;
  margin-top: 15px;
}

.litebans-body thead {
  border-top: 2px solid #4c234b;
  border-bottom: 3px solid rgb(0,0,0,0.3);
}

.litebans-body tbody {
  border-top: 2px solid #4c234b;
}

.litebans-body .table-striped tbody tr:not(:last-child) {
  border-bottom: 2px solid rgb(0,0,0,0.3);
}

.litebans-body .table-striped tbody tr td {
  vertical-align: middle;
}

.litebans-body .litebans-pager {
  color: #ddd;
  font-size: 30px;
}

.litebans-body .litebans-pager-inactive {
  color: transparent;
}

.litebans-body .litebans-pager-left {
  float: left;
}

.litebans-body .litebans-pager-right {
  float: right;
}

.litebans-pager-number {
  margin-top: 14px;
  text-align: center;
  font-size: 15px;
  color: #ddd;
}

.carousel {
  color: #ddd;
}

.carousel .carousel-item .carousel-inline {
  font-weight: 700;
}

.carousel .carousel-item .carousel-inline .center-ver {
  margin: auto;
}

.carousel .carousel-indicators {
  bottom: -40px;
}

.carousel .carousel-control-prev {
  left: -120px;
}

.carousel .carousel-control-next {
  right: -120px;
}

.carousel .carousel-item h2 {
  text-transform: uppercase;
  color: #fff;
}

.carousel .carousel-item .big-btn {
  color: white;
  font-weight: 700;
  border: 0px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 1px 4px 10px rgba(0,0,0,0.05);
  width: 100%;
  margin-bottom: 10px;
}

.carousel .carousel-item .big-btn i {
  font-size: 30px;
}

.carousel .carousel-item .big-btn.twitter {
  background: linear-gradient(35deg,#1da1f2,#4db5f5);
}

.carousel .carousel-item .big-btn.discord {
  background: linear-gradient(35deg,#7289da,#9aabe5);
}

.carousel .carousel-item .big-btn.register {
  background: linear-gradient(35deg,#3aaf85,#55c79e);
}