body {
  text-align: center; background-color: skyblue; /*farger background for at den skal bli litt mere pen.*/
}

h1 {
    background-color: lightskyblue; /*farger h1*/
}

.tabel { /*center tabel*/
    text-align: center;
    margin: auto;
}

p {
    font-family: Verdana;
}

.klasserom {
    display: flex;
}

.klasse {
    display: flex;
}